@font-face {
  font-family: "star-wars-font";
  src: url("./fonts/SfDistantGalaxy-0l3d.ttf") format("truetype");
}

.header-title {
  font-family: "star-wars-font";
  text-align: center;
  margin-top: 20px;
  font-size: 70px;
}
